.body{
    margin: 0%;
    padding: 0%;
    background: url(https://images.unsplash.com/photo-1583119912267-cc97c911e416?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8&w=1000&q=80);
    background-size: cover;
}

.box{
   width: 1000px;
   height: 75px;
   margin: auto;
   margin-top: 2%;
   margin: auto;
   background-color: rgb(36, 35, 71);
   border-radius: 30px


}

.box h2{
    color: beige;
    padding: 15px;
    padding-left: 300px;
}

.conteiner{
    width: 600px;
    height: 700px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(36, 35, 71);
    border-radius:25%;
    
}

.conteiner ul{
    margin-left: 150px;
    padding-inline-end: 2%;

    

}

.conteiner  li{
    
    list-style: none;
    margin: auto;
    padding: 50px;
}


.opucuk img{
    width: 200px;
    height: 200px;
    padding:0%;
    border-radius: 40%;
    cursor:pointer ;
    transition: 0.5s;
}

.opucuk img:hover{
    transform: scale(0.9);
}

.inci img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor:pointer ;
    transition: 0.5s;
}

.inci img:hover{
    transform: scale(0.9);
}



.conteiner li a{
        color: beige;
        font-size: 20px;
        transition: all ease-in-out 250ms;

}

.conteiner li a:hover{
    color: rgb(127, 127, 168);
}
